---
layout: header
class: 
icon: icon_puzzle_alt
title: Architecture
---

                          {{ content }}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#architecture">Architecture</a></li>
                                <li><a class="scrollto" href="#runtime">Runtime</a></li>
                                    <ul class="nav doc-sub-menu">
                                <li><a class="scrollto" href="#web-gui">Web GUI</a></li>                                
                                <li><a class="scrollto" href="#resource-provider">Resource Provider</a></li>
                                <li><a class="scrollto" href="#reasoner">Reasoner</a></li>
                                <li><a class="scrollto" href="#topology-parser">Topology Parser</a></li>                                
                                    </ul>
                                <li><a class="scrollto" href="#processing-nodes">Processing Nodes</a></li>                                
                                <li><a class="scrollto" href="#data-provider">Data Provider</a></li>                                
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
