---
layout: header
class: body-purple
icon: icon_lifesaver
title: FAQs
---

                          {{ content }}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#general">General</a></li>
                                <li><a class="scrollto" href="#features">Features</a></li>
                                <li><a class="scrollto" href="#pricing">Pricing</a></li>
                                <li><a class="scrollto" href="#support">Support</a></li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
                
