---
layout: header
class: body-pink
icon: icon_gift
title: License &amp; Acknowledgements
---

                          {{ content }}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li><a class="scrollto" href="#credits">Acknowledgements</a></li>
                                <li><a class="scrollto" href="#license">License</a></li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
