---
layout: header
class: body-pink
icon: icon_genius
title: Showcase
---

                          {{ content }}
                        </div><!--//content-inner-->
                    </div><!--//doc-content-->
                    <div class="doc-sidebar">
                        <nav id="doc-nav">
                            <ul id="doc-menu" class="nav doc-menu hidden-xs" data-spy="affix">
                                <li>
                                    <a class="scrollto" href="#premium-themes">Premium Themes</a>
                                </li>
                                <li>
                                    <a class="scrollto" href="#free-themes">Free Themes</a>
                                </li>
                            </ul><!--//doc-menu-->
                        </nav>
                    </div><!--//doc-sidebar-->
